/* font size
24
72

small : 
medium
big
*/

/* Default style */
.border-shadow--bottom {
  color: #831d16;
  box-shadow: 0 2px 0 0 #831d16;
  cursor: pointer;
}

/* html, body */
html,
body {
  height: 100%;
  font-family: "Montserrat", "sans-serif";
  font-size: 10px;
  color: #e7473c;
}

/* Header */
header {
  height: 100%;
  width: 33vw;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header > * {
  padding: 10rem;
}
.header__p {
  font-size: 7.2rem;
}
.header__container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.header__container__medium {
  font-size: 2.4rem;
  line-height: 2.88rem;
}
.header__container__small {
  font-size: 1.5rem;
  line-height: 2.1rem;
}
.header__container__link {
  font-weight: 600;
  font-size: 1.35rem;
  line-height: 3rem;
  text-decoration: none;
  color: rgba(78, 78, 78, 0.733);
  margin-right: 1rem;
  padding-bottom: 3px;
  box-shadow: 0 1px 0 0 rgba(78, 78, 78, 0.733);
}
.header__container__xsmall {
  line-height: 1.5rem;
  font-weight: 600;
  color: rgba(78, 78, 78, 0.733);
}
/* nav */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  font-weight: 600;
  min-width: 67%;
  min-height: 14rem;
  padding-left: 33%;
  position: sticky;
  top: 0;
  z-index: 1;
  color: #ffff;
  border-bottom: 1px solid #831d166b;
}
.nav__p {
  line-height: 2.2rem;
  text-align: center;
  padding-left: 5rem;
  padding-right: 5rem;
}
/* main */
main {
  font-size: 1.5rem;
  min-width: 67%;
  padding-left: 33%;
  color: #ffff;
}
.main__wrap__container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 72px;
  box-shadow: 0 -5px 50px -26px rgb(78 78 78 / 73%);
}
.main-container__top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.main-container__top__director {
  text-align: right;
}
.main-container__top__title {
  line-height: 4rem;
  font-size: 3rem;
}
.top__title--back {
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #da281b;
}
.video-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  box-shadow: 0 20px 50px -15px black;
}
.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: "";
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main-container__review--p {
  float: right;
  font-size: 1.6rem;
  width: 50%;
  line-height: 2.56rem;
}
.main-container__review::after {
  content: "";
  display: block;
  clear: both;
}
.main-container__comments {
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  color: #831d16;
}
.comments--right {
  display: flex;
  gap: 1rem;
}
.comments--leave {
  padding-bottom: 1rem;
}
/* footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  min-height: 24rem;
  font-size: 1.5rem;
  box-shadow: inset 5px 8px 10px rgba(167, 167, 167, 0.733);
}
.footer__links--top {
  display: flex;
}
.footer__link--youtube {
  padding: 0.5rem;
  background-color: #e62117;
  box-shadow: 0 0 0 1px transparent;
}
.footer__white-padding {
  padding: 0.5rem;
  background-color: #ffffff;
  color: rgba(78, 78, 78, 0.733);
  box-shadow: 0 0 0 1px rgba(214, 214, 214, 0.733);
}
.footer__link--twitter {
  background-color: #1d9bf0;
  border-radius: 20px;
}
.footer__link {
  padding: 0.5rem 1.5rem;
  color: #ffffff;
  text-decoration: none;
}
